# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl
*.tfplan
tfplan

# Python venv
.venv/
__pycache__/

# Terraform backend config
*.hcl

# Variables files
*.tfvars
config.json
