trigger:
- main

pr:
- main

pool:
  vmImage: self-hosted-dev

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.10'

- script: |
    python -m venv .venv
    source .venv/bin/activate
    pip install -r app/requirements.txt
    pytest -q
  displayName: "Install dependencies and run tests"

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: 'app'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/app.zip'
    replaceExistingArchive: true

- publish: '$(Build.ArtifactStagingDirectory)/app.zip'
  artifact: drop
